{% extends 'base.html' %}


{% block title %}
    Заправки
{% endblock %}

{% block content %}
    <div class="contentpanel">
        <div class="table-responsive">
            <table class="table table-hover mb30">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Адрес</th>
                    <th>Время работы</th>
                    <th>Категория</th>
                </tr>
                </thead>
                <tbody>
                {% for station in stations %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ url_for('station_detail', station_id=station.id) }}">{{ station.name }}</a></td>
                        <td>{{ station.address }}</td>
                        <td>{{ station.working_hours }}</td>
                        <td>{{ station.category }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'components/_pagination.html' %}
        </div><!-- table-responsive -->
    </div><!-- contentpanel -->
{% endblock %}