{% extends 'base.html' %}


{% block title %}
{{ station.name }}
{% endblock %}


{% block extra_styles %}
<style>
    .station-form {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .station-form>.col-sm-6 {
        max-width: calc(50% - 20px);
    }
</style>
{% endblock extra_styles %}


{% block content %}
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            {% include 'components/pages/station/_tabs.html' %}

            <!-- Tab panes -->
            <div class="tab-content tab-content-primary mb30">
                {% include 'components/pages/station/_form.html' %}

                <div class="tab-pane" id="photoTab">
                    <div class="row media-manager">

                        {% for image in station.images %}
                        <div class="col-xs-6 col-sm-4 col-md-3 image">
                            <div class="thmb">
                                <div class="thmb-prev">
                                    <a href="{{ request.base_url }}{{ image.url }}" data-rel="prettyPhoto">
                                        <img src="{{ request.base_url }}{{ image.url }}" class="img-responsive"
                                            alt="" />
                                    </a>
                                </div>
                                {# <h5 class="fm-title"><a href="">Vegetarian.png</a></h5>#}
                                {# <small class="text-muted">Added: Jan 02, 2014</small>#}
                            </div><!-- thmb -->
                        </div><!-- col-xs-6 -->
                        {% endfor %}


                    </div><!-- row -->
                </div>

                <div class="tab-pane" id="fuelTab">
                    <h2 class="mt0">Цены на топливо</h2>
                    <ul class="list-group">
                        {% for obj in station.fuel_price %}
                        <li class="list-group-item">
                            <div>
                                <b>Тип топлива</b>: {{ obj.fuel_type.value }}
                            </div>
                            <div>
                                <b>Цена</b>: {{ obj.price }}
                            </div>
                            <div>
                                <b>Добавлено</b>: {{ obj.created_at }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- tab-pane -->

                <div class="tab-pane" id="commentTab">
                    <h4 class="nomargin">Contact title goes here...</h4>
                    <p>Contact content goes here</p>
                </div>
                <!-- tab-pane -->
            </div>
            <!-- tab-content -->
        </div>
        <!-- col-md-6 -->
    </div>
</div>
{% endblock %}


{% block extra_script %}
    <script>
        const formEditButton = document.querySelector('#formEditButton');
        const saveButton = document.querySelector('.save-btn');
        const formItems = document.querySelectorAll('.station-form-item');


        formEditButton.addEventListener('click', () => {
            saveButton.classList.toggle('hidden');

            formItems.forEach(item => {
                if (item.hasAttribute('disabled')) {
                    item.removeAttribute('disabled');
                } else {
                    item.setAttribute('disabled', '');
                }

            })
        })

    </script>
{% endblock %}