{% extends 'base.html' %}

{% block title %}
{% endblock %}



{% block content %}


<div class="chat-container chat-container--custom">
    <!-- <div class="chat-sidebar">
    <button class="chat-button">chat</button>
  </div> -->

    <div class="chat-list">
        <div class="chat-list-container">
            <h2 class="chat-list-header">Сообщения</h2>

            <div class="search-container">
                <div class="search-input">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7dcb1e05cbf196c03f5eb9cbcf9726ae1a9e6a10716bd72aa1d35dc1e856e5f6?placeholderIfAbsent=true&apiKey=1c76fa4eaadb4e4d9345e15e06616a56"
                        class="search-icon" alt="Search icon" />
                    <span>Поиск</span>
                </div>
            </div>

            {% for room in rooms %}

            <div class="chat-item" room-id="room-{{ room.id }}" onclick="handleRoomClick(`{{ room.id }}`)">
                {% if room.sender.user_photo %}
                <img src="{{ request.base_url }}{{ room.sender.user_photo }}" class="chat-avatar"
                    alt="Support admin avatar" />
                {% else %}
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e5ee95ccb831410c61a0bbf43d6008b71aa24dc2dfff04d08b7e6632abbfe2bf?placeholderIfAbsent=true&apiKey=1c76fa4eaadb4e4d9345e15e06616a56"
                    class="chat-avatar" alt="Support admin avatar" />
                {% endif %}
                <div class="chat-info">
                    <span class="chat-name">{{ room.sender.phone_number }}</span>
                    <!-- <span class="chat-preview">Pesquisar chat</span> -->
                </div>
                <div class="chat-status">
                    <!-- <span>Espera</span> -->
                    <span class="chat-time">{{ room.created_at }}</span>
                </div>
            </div>
            {% endfor %}


            <!-- Additional chat items following same pattern -->
        </div>
    </div>

    <div class="messages-container messages-container--custom">
        <div class="messages-content">
            <div class="messages-header">
                <div class="chat-info">
                    <!-- <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/52fea3ae8aa8f1b4726890531275a54f355933003995c36c1794121c645c3e03?placeholderIfAbsent=true&apiKey=1c76fa4eaadb4e4d9345e15e06616a56"
                        class="chat-avatar" alt="Current chat avatar" /> -->
                    <div>
                        <span class="chat-name">Оператор: {{ operator.fullname }}</span>
                        <!-- <span>#CU6798H</span> -->
                    </div>
                </div>
            </div>

            <div class="chat-container chat-container--messages">

            </div>

            <form class="message-input">
                <label for="messageText" class="visually-hidden">Digite a mensagem</label>
                <input type="text" id="messageText" placeholder="Digite a mensagem" aria-label="Digite a mensagem" />
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dbce3d423dc2eaef3649b7c4b0e353a50e26902186f8f3fcd60c6c6cf26557c1?placeholderIfAbsent=true&apiKey=1c76fa4eaadb4e4d9345e15e06616a56"
                    class="message-actions" alt="Message actions" />
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_script %}
<script>
    function handleRoomClick(roomId) {
        const messagesContainer = document.querySelector('.chat-container--messages')
        messagesContainer.innerHTML = ''
        const supportMessages = `{{ request.base_url }}api/v1/support/${roomId}/messages/`
        fetch(supportMessages)
            .then(response => {
                return response.json()
            })
            .then(data => {
                data.forEach(obj => {
                    console.log(obj)
                    messagesContainer.innerHTML += `
                    <div class="message-wrapper-${Number(`{{ request.user.id }}`) !== obj.sender_id ? 'left' : 'right'}">
                        <div class="message-content-right">
                            <div class="message-bubble-right">
                                ${obj.message}
                            </div>
                        </div>
                        <div class="timestamp-right">${obj.created_at}</div>
                    </div>
                    `
                })
            })

    }
</script>
{% endblock extra_script %}