.d-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.leftpanel .profile-left {
    min-height: auto;
}


.station-comments-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}