<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}

        {% endblock %}
    </title>
    {% include 'components/_styles.html' %}

    {% block extra_styles %}
    {% endblock extra_styles %}

</head>

<body>

    {% if request.path != '/admin/auth/login/' %}
    {% include 'components/_header.html' %}
    <section>
        <div class="mainwrapper">
            {% include 'components/_sidebar.html' %}
            <div class="mainpanel">
                {% include 'components/_page-header.html' %}
                {% block content %}

                {% endblock %}
            </div><!-- mainpanel -->
        </div>
    </section>
    {% else %}
    {% block login_content %}

    {% endblock %}
    {% endif %}




    {% include 'components/_scripts.html' %}

    {% block extra_script %}
    {% endblock extra_script %}
</body>

</html>