<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Global Chat</title>
  </head>
  <body>
    <h1>Global Chat</h1>
    <textarea id="messages" readonly></textarea><br />
    <input type="text" id="message" placeholder="Type a message" />
    <button onclick="sendMessage()">Send</button>

    <script>
      const userId = 2; // Пример ID пользователя
      const ws = new WebSocket(
        `ws://{{ request.headers.host }}/ws/global/${userId}`
      );

      ws.onmessage = (event) => {
        document.getElementById("messages").value += event.data + "\n";
      };

      function sendMessage() {
        const message = document.getElementById("message").value;
        const item = {
          sender_id: userId,
          content: message,
        };

        ws.send(JSON.stringify(item));
        document.getElementById("message").value = "";
      }
    </script>
  </body>
</html>
