<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>


    <ul id="messages"></ul>

    <div>
        <label>
            <input type="text" id="message" placeholder="message">
        </label>
        <button onclick="sendMessage()">
            send message
        </button>
    </div>
    <br />
    <br />
    <div>
        <label>
            <input type="file" name="" id="file">
        </label>
        <button id="send_file">send file</button>
        <div id="status"></div>
    </div>

    <script>
        const userId = 2;
        const websocketUrl = `ws://{{ request.headers.host }}/ws/global/${userId}`;
        const fileInput = document.getElementById('file')
        const fileButton = document.getElementById('send_file');
        const statusDiv = document.getElementById('status');

        let socket = new WebSocket(websocketUrl);

        socket.onopen = function (e) {
            alert('connection opened')
        }

        function sendMessage(e) {
            const messageInput = document.getElementById('message');
            console.log(messageInput)

            const payload = {
                sender_id: userId,
                content: messageInput.value
            }
            socket.send(JSON.stringify(payload))
        }

    </script>
</body>

</html>