<header>
    <div class="headerwrapper">
        <div class="header-left">
            <a href="{{ url_for('admin') }}" class="logo">
                <span style="color: white; font-size: 25px" >ToGo</span>
            </a>
            <div class="pull-right">
                <a href="" class="menu-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div><!-- header-left -->

        <div class="header-right">

            <div class="pull-right">

                <form class="form form-search" action="search-results.html">
                    <input type="search" class="form-control" placeholder="Поиск"/>
                </form>

                <div class="btn-group btn-group-list btn-group-notification">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge">1</span>
                    </button>
                    <div class="dropdown-menu pull-right">
                        <a href="" class="link-right"><i class="fa fa-search"></i></a>
                        <h5>Уведомления</h5>
                        <ul class="media-list dropdown-list">
                            <li class="media">
                                <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
                                <div class="media-body">
                                    <strong>Сайгафаров Ильдар</strong> Зарегистрирован как главный администратор
                                    <small class="date"><i class="fa fa-thumbs-up"></i>2 часа назад </small>
                                </div>
                            </li>
                        </ul>
                        <div class="dropdown-footer text-center">
                            <a href="" class="link">Смотреть все уведомления</a>
                        </div>
                    </div><!-- dropdown-menu -->
                </div><!-- btn-group -->

           

                <div class="btn-group btn-group-option">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i>Профиль</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-star"></i>Активность</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-cog"></i>Настройки</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="glyphicon glyphicon-log-out"></i>Выход</a></li>
                    </ul>
                </div><!-- btn-group -->

            </div><!-- pull-right -->

        </div><!-- header-right -->

    </div><!-- headerwrapper -->
</header>