<div class="leftpanel">
    <div class="media profile-left">
{#        <a class="pull-left profile-thumb" href="profile.html">#}
{#            <img class="img-circle" src="images/photos/profile.png" alt="">#}
{#        </a>#}
        <div class="media-body">
            <h4 class="media-heading">Ильдар Сайгафаров</h4>
{#            <small class="text-muted">Beach Lover</small>#}
        </div>
    </div><!-- media -->

{#    <h5 class="leftpanel-title">Navigation</h5>#}
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="{{ url_for('admin') }}"> <span>Главная</span></a></li>
        <li><a href="{{ url_for('operators') }}"> <span>Операторы тех поддержки</span></a></li>
        <li><a href="{{ url_for('admin') }}"> <span>Заявки пользователей</span></a></li>
        <li><a href="{{ url_for('stations') }}"> <span>Заправки</span></a></li>
    </ul>

</div><!-- leftpanel -->